* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;

    transition: all 0.3s ease-in-out;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #0B2447;
}

body {
    margin: 0;
    background-image: linear-gradient(#F0F0F0, #FFFFFF, #FFFFFF, #FFFFFF, #F0F0F0);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 5%;
}

.bar {
    background: #FFFFFF;

    margin-top: 2vh;
    padding-top: 2vh;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0px 5px 10px #7F7F7F;
    transform: translateY(-5px);
}

.maincol {
    width: 30rem;
    max-width: 90%;
    margin-right: 2vw;
}

.subcol {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    list-style-type: none;
}

.subcol__item {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
}

.subcol__item img {
    width: 80%;
    height: 80%;
    object-fit: fill;
    margin: 10% 10%;
}

.mainbar {
    text-align: right;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 2vw;
}

.mainbar > img {
    overflow: hidden;
    border-radius: 50%;
    margin-top: 2vw;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.mainbar .title {
    color: #0B2447;
}

.mainbar .title span{
    color: #19376D;
    font-weight: lighter;
}

.mainbar .subtitle {
    color: #19376D;
    font-weight: lighter;
    width: 70%;
}

.mainbar .description {
    width: 90%;
}

.mainbar ul {
    list-style-type: none;
}

.mainbar li {
    padding: 5px;
}

.mainbar li::after {
    content: " \3009";
    font-weight: bold;
}

.mainbar li:hover {
    transform: translateY(-5px);
}

@media (min-width: 768px) {
    .bar {
        height: 100vh;

        margin-top: unset;
        padding-top: unset;
        border-radius: unset;
    }

    .subcol {
        justify-content: flex-start;
    }
}

